.user{
    list-style: none;
    padding: 0 0 0 15px;
    height: 63px;
    box-sizing: border-box;
    width: 100%;
}

.pic{
    width: 46px;
    height: 46px;
    padding: 9px 7px 7px 0;
    border-radius: 45%;
    vertical-align: middle;
  }